
/* .container-text-center{
    justify-content: center;
    align-items: center;
} */
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.col{
    background-color: darkcyan;
    border: 2px solid white;
    color: azure;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn-col button {
    margin-right: 18px;
    margin-bottom: 100px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: chocolate;
    color: antiquewhite;
    border-radius: 20px;
    padding: 10px 20px;
}